{% extends "base.html" %}
{% load static %}

{% block head %}

<style>
    .align-center {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-top: 5%;
        font-size: 1.3rem;

    }
</style>
{% endblock head %}


{% block start %}
<div class="container">
    <div class="jumbotron">
        <h1>{{vender.restaurent_name}}</h1>

        {% if vender.is_approved %}
        <div class="card">
            <div class="row" style="margin-left: 2%;">
                <div class="col-md-6">
                    <img src="{{ vender.restaurent_img.url }}" alt="" style="border-radius: 50%;" height="200rem">
                </div>
                <div class="col-md-6">
                    <p><b>Vender Name:</b>{{vender.user}}</p>
                    <p><b>Address: </b>{{vender.address}}</p>
                    <p><b>City: </b>{{vender.city}}</p>
                    <p><b>State: </b>{{vender.state}}</p>
                    <p><b>Zipcode: </b>{{vender.zipcode}}</p>
                </div>

            </div>

        </div>
        <br>
        <b>Food Menu</b>
        <div class="row">
            {% for food in fooditems %}
            <div class="col-md-3">
                <div class="card" style="width: 12rem; height:21rem">
                    <img src="{{food.food_img.url}}" class="card-img-top" alt="..." height="150rem"
                        style="object-fit:fill;">
                    <div class="card-body">
                        <h5 class="card-title">{{food.food_name}}</h5>
                        <p class="card-text">{{food.food_desc}}</p>
                        <p class="card-title">Price:{{food.price}}</p>
                        <a href="" class="btn btn-info">Add to cart</a>
                    </div>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <div class="card align-center">
                <iframe src="https://lottie.host/embed/b0eea3f1-413f-4b3b-8d67-14c397947876/ka2qAYHUrC.lottie"
                    width="80%"></iframe>
                <p class="card-body">Waiting for admin approval</p>
            </div>

            {% endif %}
        </div>
    </div>
    {% endblock start %}