{% extends "base.html" %}
{% load static %}

{% block head %}
  
<style>
    .align-center{
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15%;
        margin-top: 5%;
        font-size: 1.3rem;

    }
</style>
{% endblock head %}


{% block start %}
<div class="container">
    <div class="jumbotron">
        <h1>{{vender.restaurent_name}} Details</h1>

        {% if vender.is_approved %}
            <div class="card align-center">
                <p><b>Vender name: </b>{{vender.vender_name}}</p>
                <p><b>Address: </b>{{vender.address}}</p>
                <p><b>City: </b>{{vender.city}}</p>
                <p><b>State: </b>{{vender.state}}</p>
                <p><b>Zipcode: </b>{{vender.zipcode}}</p>
                <img src="{{ vender.restaurent_img.url }}" alt="" width="80%">

            </div>

        {% else %}
        <div class="card align-center">
            <iframe src="https://lottie.host/embed/b0eea3f1-413f-4b3b-8d67-14c397947876/ka2qAYHUrC.lottie" width="80%"></iframe>
            <p class="card-body" >Waiting for admin approval</p>
        </div>

        {% endif %}
    </div>
</div>
{% endblock start %}