{% include "base.html" %}
{% load static %}
{% load crispy_forms_tags%}

<style>
  img {
    border-radius: 50%;
  }
</style>

{% block start %}

<div class="container">
  <div class="jumbotrain ">
    <h1 style="text-align: center;">{{role}} Dashboard</h1>

    <div class="row">
      <div class="col">

        {% if role == 'Vender' %}
        <div class="">
          <a href="{% url 'addfood' %}" class="btn btn-success">Build Menu&oplus;</a>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <b>Vendor Name: </b>{{user.username}}
          </div>
          <div class="col-md-4">
            <b>Email: </b>{{user.email}}
          </div>
          <div class="col-md-4">
            <b>Restaurent Name: </b>{{user.multivenders.restaurent_name}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <b>Address: </b>{{user.multivenders.address}}
          </div>
          <div class="col-md-4">
            <b>City: </b>{{user.multivenders.city}}
          </div>
          <div class="col-md-4">
            <b>State: </b>{{user.multivenders.state}}
          </div>
        </div>
        <br>
        <b>Menu</b>
        <div class="row">
          {% for food in fooditems %}
          <div class="col-md-3">
            <div class="card" style="width: 12rem;">
              <img src="{{food.food_img.url}}" class="card-img-top" alt="..." width="100px" height="200px"
                style="object-fit:fill;">
              <div class="card-body">
                <h5 class="card-title">{{food.food_name}}</h5>
                <p class="card-text">{{food.food_desc}}</p>
                <p class="card-title">Price:{{food.price}}</p>
                <a href="" class="btn btn-dark">&#9999;</a>
                <a href="" class="btn btn-danger "><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>

          {% endfor %}

        </div>



        {% elif role == 'Admin'%}
        <!-- <h1>Admin dashboard</h1> -->
        {% else %}

        <!-- -------------------------------------------------------------------- -->
        {% if user.userdetails.img %}
        <img src="{{user.userdetails.img.url}}" alt="" style="width: 200px; height:200px ">
        <!-- <img src="{% static 'images/profile.png' %}" alt="" style="width: 200px; height:200px "> -->

        {% else %}
        <img src="{% static 'images/profile.png' %}" alt="" style="width: 200px; height:200px ">
        {% endif %}

      </div>
      <div class="col-md-6">
        <p>{{user.username}}'s Profile</p>
        <p>{{user.email}}</p>
        <p>{{user.userdetails.phone}}</p>
        <p>{{user.userdetails.house_no}}</p>
        <p>{{user.userdetails.street}}</p>
        <p>{{user.userdetails.city}}</p>
        <p>{{user.userdetails.zipcode}}</p>
        <br>

        <a href="{% url 'update'%}" class="btn btn-secondary">Update Profile</a>
        {% endif %}
      </div>


    </div>


  </div>
</div>

{% endblock start %}
